<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar  class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../../../assets/images/icon/keep_2020q4_48dp.png">
        <h1 class="example-app-name">Fundoo</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <div contenteditable="true" aria-multiline="true" role="textbox" tabindex="0" spellcheck="true" aria-label="Title"></div>
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            
            <mat-nav-list style="width:240px">
                <img src="../../../../assets/images/icon/note.svg" width="24px" height="24px" style="margin-top: 10px;">Note
            </mat-nav-list>
            <mat-nav-list>
                <img src="../../../../assets/images/icon/reminder.svg" width="24px" height="24px">Reminder
            </mat-nav-list>
            <mat-nav-list>
                <img src="../../../../assets/images/icon/edit-label.svg" width="24px" height="24px">Edit-label
            </mat-nav-list>
            <mat-nav-list>
                <img src="../../../../assets/images/icon/archive.svg" width="24px" height="24px">Archive
            </mat-nav-list>
            <mat-nav-list>
                <img src="../../../../assets/images/icon/trash.svg" width="24px" height="24px">Trash
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
           
        <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>